.lxproject
.lxpreferences
.DS_Store
.idea/
*.iml
*.log
target/
*.lck
*.tmp
*~
audiomonitor.json
gamma.json
pixliteconfig.json
lightbarconfig.json
mappingconfig.json
unityout.json
lxpoints.ply
shaders/*


